.bubbles-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  font-weight: 600;
  color: #fff;
}

.bubble img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

/* Individual bubble positions and colors */

.activity {
  top: 15%;
  right: 25%;
  color: #fff;
}

.origin {
  top: 45%;
  left: 45%;
  color: #003366;
}

.visibility {
  left: 10%;
  bottom: 25%;
  color: #b40b0b;
}

.creativity {
  right: 10%;
  bottom: 20%;
  color: #f1a600;
}

/* Bubble name styling */
.bubble span {
  margin-top: 10px;
  font-size: 1.2rem;
}
